# Adresse deines lokalen JDownloader-Containers (Port 3128)
# Wenn WebUI auf demselben Rechner/Host läuft:
JD_URL=http://localhost:3128

# Wenn im gleichen Docker-Netzwerk wie der JDownloader Container:
# JD_URL=http://jdownloader:3128

# Port für das Webinterface
PORT=8080